body{
    margin: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color: teal;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}  

header h1{
    color: white;
    font-size: 50px;
}

header img{
    border-radius: 150px;
    width: 300px;
    border: 15px solid #483a94;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 95%;
}


h2{
    font-size: 35px;
    color: #08088A;
    margin: 40px 0 10px;
}

a{
    color: #08088A;
}

a:hover{
     color: black;
}

footer{
    background-color: teal;
    text-align: center;
    color: white;
}

footer a{
    border: black 20 px;
}

p.caption{
    color: #999999;
    font-style: italic;
    margin-top: 0;
}












